.main__img {
  width: 100%;
  border-radius: 50%; }

.main__size {
  display: flex;
  border-radius: 50%;
  position: relative;
  cursor: pointer; }
  .main__size:hover .main__name {
    display: block; }
  .main__size:hover .main__title {
    display: block; }

.main__size1 {
  width: 390px;
  height: 390px; }

.main__size2 {
  width: 250px;
  height: 250px; }

.main__size3 {
  width: 170px;
  height: 170px; }

.main__size4 {
  width: 110px;
  height: 110px;
  background: #ff3546; }

.main__dateInfo {
  position: absolute;
  background: #ff3546;
  color: #fff;
  text-align: center;
  border-radius: 50%; }
  .main__dateInfo_1 {
    width: 105px;
    height: 105px; }
  .main__dateInfo_2 {
    width: 50px;
    height: 50px; }
  .main__dateInfo_3 {
    width: 45px;
    height: 45px; }
  .main__dateInfo_4 {
    background: none;
    width: 100%;
    height: 100%; }

.main__date {
  font-family: "UA";
  font-weight: bold; }
  .main__date_1 {
    padding: 35px 0 0 0;
    font-size: 37px;
    line-height: 30px; }
  .main__date_2 {
    padding: 10px 0 0 0;
    font-size: 17px;
    line-height: 15px; }
  .main__date_3 {
    padding: 10px 0 0 0;
    font-size: 17px;
    line-height: 15px; }
  .main__date_4 {
    padding: 30px 0 0 0;
    font-size: 37px;
    line-height: 30px; }

.main__month {
  font-family: "UA";
  font-weight: bold; }
  .main__month_1 {
    font-size: 17px; }
  .main__month_2 {
    font-size: 10px; }
  .main__month_3 {
    font-size: 10px; }
  .main__month_4 {
    font-size: 17px; }

.main__title {
  position: absolute;
  margin: auto;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  z-index: 1;
  height: 16px;
  color: #fff;
  max-width: 70px;
  font-family: "Roboto";
  font-weight: 100;
  font-size: 13px;
  text-align: center;
  background: #ee7a30;
  display: none; }

.main__name {
  font-family: "UA";
  font-weight: bold;
  position: absolute;
  margin: auto;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  z-index: 1;
  height: 30px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 70px 0 0 0;
  display: none; }
