@font-face {
  font-family: 'UA';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/regular.otf'); 
}


.header{
  padding: 65px 0 0 0;
  color: #fff;
  &__container{
    justify-content: space-between;
    align-items: center;  
  }
  &__events{
    font-size: 25px;
    font-weight: bold;
    font-family: 'UA';
  }
  &__add{
    opacity: .5;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 14px;
    text-transform: capitalize;
    transition: all .3s;
    &:before{
      content: '';
      background: url('../../assets/icons/plus.png');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      display: inline-block;
      vertical-align: middle;
      margin: 0 10px 0 0;
    }
    &:hover{
      opacity: 1;
    }
  }
}