.footer {
  margin: 60px 0;
  flex-grow: 0; }
  .footer__container {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    justify-content: space-between; }
  .footer__item {
    padding: 15px 0;
    text-align: center;
    opacity: .25;
    flex: 1 1 calc(100% / 6);
    color: #fff;
    font-family: 'Roboto';
    font-weight: 100;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .3s;
    position: relative; }
    .footer__item:hover {
      opacity: 1;
      color: #fff; }
    .footer__item_active {
      font-weight: bold;
      opacity: 1; }
      .footer__item_active:after {
        content: '';
        position: absolute;
        color: #fff;
        width: 100%;
        height: 3px;
        top: -3px;
        left: 0;
        background: #fff; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .footer {
    margin: 40px 0; }
    .footer__item {
      padding: 10px 0;
      font-size: 10px; }
      .footer__item_active:after {
        height: 2px;
        top: -2px; } }

/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
