*{
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #074261;
}


a, input{
  outline: none;
}

li{
  list-style: none;
}


.container{
  display: block;
  width: 100%;
  max-width: 1170px;
  min-width: 320px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}


.flex{
  display: flex;
}

.hide{
  display: none !important;
}


.appWrap{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}